
input {
    width: 4px;
    opacity: 1px;
    position: relative;
    left: 0px;
    border: 1px solid red;
}

.typeahead-input {
    border: 1px solid #ccc;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 4px;
    background: #fff;
    cursor: text;
    min-height: 34px;
    //height: calc(1.5em + 0.75rem + 2px);
    background-color: #fff;


    input {
        line-height: 20px;
        outline: 0 !important;
        margin: 0 !important;
        border-radius: .28571429rem;
        display: inline-block !important;
        padding: 0px !important;
        min-height: 0px !important;
        max-width: 100% !important;
        margin: 0px !important;
        //border: 0 !important;
        text-indent: 0 !important;
        line-height: inherit !important;
        box-shadow: none !important;
    }

    .has-items {
        padding-left: 9px;
        padding-right: 9px;
    }
}

.dropdown {
    width: 100%;
    background: white;
    z-index:1000;
    margin: 2px 0 0;
    border-radius: 4px;
    margin-top: -8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    //position: absolute;
    // top: 34px;
    // width: 100%;
    // left: 0px;
    li {
        list-style: none;
    }
}

.list-group-item {
    cursor: pointer;

    // &:hover  {
    //     background-color: #4ac694;
    // }
}

.spinner-border {
    position: absolute;
    right: 10px;
    margin: auto;
    cursor: pointer;
    top: 30%;
}