<form [formGroup]="typeaheadForm">
    <ng-container *ngIf="settings.multiple" >


      <div class="typeahead-input" (click)="shiftFocus()">
        <div class="{{selectedOptions.length > 0 ? 'has-items': ''}}">
          <app-tag-badge *ngFor="let option of selectedOptions">
            {{ settings.displayFn(option) }}
            <i class="fa fa-times" (click)="toggleSelection(undefined, option)" tabindex="0" aria-label="close"></i>
          </app-tag-badge>
          <!-- TODO: As we type, we need to adjust the width -->
          <input #input type="text" autocomplete="off" tabindex="0" (focus)="setFocus()" (blur)="hasFocus = false" formControlName="typeahead">
        </div>
      </div>
      <div class="dropdown" *ngIf="hasFocus">
        <ul class="list-group results">
          <!-- <li *ngIf="hasFocus && !typeaheadControl.value" class="list-group-item">
            Type to search
          </li> -->
          <li *ngIf="isLoadingOptions">
            <div class="spinner-border text-secondary" role="status">
              <span class="invisible">Loading...</span>
            </div>
          </li>
          <li (click)="addNewItem(typeaheadControl.value)" *ngIf="settings.addIfNonExisting && typeaheadControl.value && typeaheadControl.value.length > settings.minCharacters && typeaheadControl.dirty" class="list-group-item">
            Add {{typeaheadControl.value}}...
          </li>
          <li *ngFor="let option of filteredOptions | async" (click)="toggleSelection($event, option)" class="list-group-item">
            <!-- <div class="form-check">
                <input id="option-{{1}}" type="checkbox" class="form-check-input">
                {{ settings.displayFn(option) }}
            </div> -->
            {{ settings.displayFn(option) }}
          </li>
      </ul>
      </div>


  </ng-container>
  <ng-container *ngIf="!settings.multiple">
    <!-- <mat-form-field  style="width:96%;">
      <input type="text" matInput [matAutocomplete]="auto"  [formControl]="typeaheadControl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="!typeaheadControl.value" (click)="$event.stopPropagation()" disabled >
            Type to search
          </mat-option>
          <ng-container *ngIf="(filteredOptions | async)?.length > 0; else noResults">
            <mat-option *ngFor="let option of (filteredOptions | async)" [value]="settings.displayFn(option)" (click)="toggleSingle(option)">
              <div style="width:100%">{{ settings.displayFn(option) }}</div>
            </mat-option>
          </ng-container>
          <mat-option *ngIf="isLoadingOptions" disabled> 
            <mat-spinner diameter="20"></mat-spinner>
          </mat-option>
          <ng-template #noResults>
            <mat-option *ngIf="!isLoadingOptions && typeaheadControl.value && typeaheadControl.value.length > settings.minCharacters && typeaheadControl.dirty" (click)="$event.stopPropagation()" disabled>
              No Results Found
            </mat-option>
          </ng-template>
        </mat-autocomplete>
    </mat-form-field> -->

  </ng-container>
  </form>