.button-bar {
    button:first() {
        margin-left: 0px;
    }
    button {
        margin-left: 10px;
    }

    margin-bottom: 10px;
}

label {
    cursor: pointer;
}

input[type='checkbox']  {
    cursor: pointer;
}