<!-- <div>
    <button (click)="decrease('font-size', 10)" class="btn btn-icon" title="Decrease"><i class="fa fa-minus" aria-hidden="true"></i></button>
    <span>{{pageStyles['font-size']}}</span>
    <button (click)="increase('font-size', 10)"  class="btn btn-icon" title="Increase"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div> -->

<div class="control">
    <div>{{label}}</div>
    <div>
        <button  class="btn btn-icon" title="Decrease"><i class="fa fa-minus" aria-hidden="true"></i></button>
        <span>{{valueLabel}}</span>
        <button   class="btn btn-icon" title="Increase"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
</div>