<div #readingSection>
    <div [ngStyle]="pageStyles" [innerHtml]="page" *ngIf="page !== undefined"></div>
</div>

<div class="drawer">
    <ul>
        <li *ngFor="let chapter of chapterLinks">
            <a href="javascript:void()" (click)="loadChapter(chapter.page)">{{chapter.title}}</a>
        </li>
    </ul>
</div>

<button class="btn btn-primary" (click)="prevPage()">Prev page</button>
<button class="btn btn-primary" (click)="nextPage()">Next page</button>

<button class="btn btn-secondary" (click)="injectStyles()">Inject Styles</button>