.control-container {
    padding-bottom: 5px;
}

.table-of-contents li {
    cursor: pointer;

    &.active {
        font-weight: bold;
    }
}


.dark-mode {
    * {
        background-color: #292929; //rgb(41, 41, 41, 0.90);
        box-shadow: none;
        text-shadow: none;
        border-radius: unset;
        //border-color: #555;
        //outline-color: #555; // maybe not
    }

    *:not(input) {
        color: #dcdcdc;
    }

    .btn-icon {
        background-color: transparent;
    }

    :link {
        color: #8db2e5 !important;
    }
}

.reading-bar {
    background-color: white;
    overflow: hidden;
    max-height: 45px;
}

.reading-section {
    // TODO: Add an animation when it loads in
    height: 100vh;
    padding-top: 45px;
}