.control-container {
    padding-bottom: 5px;
}

li.active {
    font-weight: bold;
}

.dark-mode {
    * {
        background-color: rgb(41, 41, 41, 0.90);
        box-shadow: none;
        text-shadow: none;
        border-radius: unset;
        //border-color: #555;
        //outline-color: #555; // maybe not
    }

    *:not(input) {
        color: #dcdcdc;
    }

    .btn-icon {
        background-color: transparent;
    }

    :link {
        color: #8db2e5 !important;
    }
}

.reading-section {
    // TODO: Add an animation when it loads in
    //overflow-y: ;
    height: 100vh;
}