<div class="reader">
    <div class="fixed-top overlay" *ngIf="menuOpen" [@slideFromTop]="menuOpen">
        <div style="display: flex">
            <button class="btn btn-icon" style="height: 100%" title="Back" (click)="closeReader()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span class="sr-only">Back</span>
            </button>
            
            <div *ngIf="chapterInfo">
                <div style="font-weight: bold;">{{title}}</div>
                <div class="subtitle">
                    {{subtitle}}
                </div>
            </div>

            <!-- TODO: If webtoon mode, show a scroll to top here -->
        </div>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="spinner-border text-secondary loading" role="status">
            <span class="invisible">Loading...</span>
        </div>
    </ng-container>

    <div (click)="toggleMenu()">
        <canvas #content class="{{getFittingOptionClass()}} {{this.colorMode}} {{readerMode === READER_MODE.MANGA_LR || readerMode === READER_MODE.MANGA_UD ? '' : 'd-none'}}" 
                ondragstart="return false;" onselectstart="return false;">
        </canvas>
        <ng-container *ngIf="readerMode === READER_MODE.WEBTOON">
            <div
                class="webtoon-images"
                infiniteScroll
                [infiniteScrollDistance]="1"
                [infiniteScrollUpDistance]="50"
                [infiniteScrollThrottle]="50"
                [alwaysCallback]="true"
                (scrolled)="onScrollDown($event)"
                (scrolledUp)="onScrollUp($event)">
                <ng-container *ngFor="let item of webtoonImages | async; let index = index;">
                    <h2>Page {{item.page}} - Prefetched {{minPrefetchedWebtoonImage}}-{{maxPrefetchedWebtoonImage}} </h2>
                    <img src="{{item.src}}" id="page-{{item.page}}" [attr.page]="item.page" ondragstart="return false;" onselectstart="return false;">
                </ng-container>
            </div>

        </ng-container>
        <ng-container *ngIf="readerMode === READER_MODE.MANGA_LR || readerMode === READER_MODE.MANGA_UD">
            <div class="{{readerMode === READER_MODE.MANGA_LR ? 'right' : 'top'}}" (click)="handlePageChange($event, 'right')"></div>
            <div class="{{readerMode === READER_MODE.MANGA_LR ? 'left' : 'bottom'}}" (click)="handlePageChange($event, 'left')"></div>
        </ng-container>
    </div>
    
    <div class="fixed-bottom overlay" *ngIf="menuOpen" [@slideFromBottom]="menuOpen">
        <div class="form-group" *ngIf="pageOptions != undefined && pageOptions.ceil != undefined && pageOptions.ceil > 0">
            <span class="sr-only" id="slider-info"></span>
            <div class="row no-gutters">
                <button class="btn btn-small btn-icon col-1" [disabled]="prevChapterDisabled" (click)="loadChapter(this.prevChapterId, 'prev');resetMenuCloseTimer();" title="Prev Chapter/Volume"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
                <button class="btn btn-small btn-icon col-1" [disabled]="prevPageDisabled" (click)="goToPage(0);resetMenuCloseTimer();" title="First Page"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                <div class="col custom-slider">
                    <ngx-slider [options]="pageOptions" [value]="pageNum" aria-describedby="slider-info" (userChangeEnd)="sliderPageUpdate($event)"></ngx-slider>
                </div>
                <button class="btn btn-small btn-icon col-2" [disabled]="nextPageDisabled" (click)="goToPage(this.maxPages);resetMenuCloseTimer();" title="Last Page"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                <button class="btn btn-small btn-icon col-1" [disabled]="nextChapterDisabled" (click)="loadChapter(this.nextChapterId, 'next');resetMenuCloseTimer();" title="Next Chapter/Volume"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
            </div>
            
            
        </div>
        <div class="row pt-2 ml-2 mr-2">
            <div class="col">
                <button class="btn btn-icon" title="Reading Mode" (click)="toggleReaderMode();resetMenuCloseTimer();">
                    <i class="fa {{getReaderModeIcon()}}" aria-hidden="true"></i>
                    <span class="sr-only">Reading Mode</span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-icon" (click)="setReadingDirection();resetMenuCloseTimer();" aria-describedby="reading-direction" title="Reading Direction: {{readingDirection === ReadingDirection.LeftToRight ? 'Left to Right' : 'Right to Left'}}">
                    <i class="fa fa-angle-double-{{readingDirection === ReadingDirection.LeftToRight ? 'right' : 'left'}}" aria-hidden="true"></i>
                    <span id="reading-direction" class="sr-only">{{readingDirection === ReadingDirection.LeftToRight ? 'Left to Right' : 'Right to Left'}}</span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-icon {{this.colorMode}}" title="Color Options: {{colorOptionName}}" (click)="toggleColorMode();resetMenuCloseTimer();">
                    <i class="fa fa-palette" aria-hidden="true"></i>
                    <span class="sr-only"></span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-icon" title="Settings" (click)="settingsOpen = !settingsOpen;resetMenuCloseTimer();">
                    <i class="fa fa-sliders-h" aria-hidden="true"></i>
                    <span class="sr-only">Settings</span>
                </button>
            </div>
        </div>
        <div class="bottom-menu" *ngIf="settingsOpen">
            <div class="row" *ngIf="splitForm">
                <div class="col-6">
                    <label for="page-splitting">Image Splitting</label>&nbsp;
                    <div class="split fa fa-image">
                        <div class="{{splitIconClass}}"></div> 
                    </div>
                </div>
                <div class="col-6">
                    <form [formGroup]="splitForm">
                        <div class="form-group">
                            <!-- TODO: Disable [attr.disabled]="" if webtoon mode is on -->
                            <select class="form-control" id="page-splitting" formControlName="pageSplitOption">
                                <option [value]="1">Right to Left</option>
                                <option [value]="0">Left to Right</option>
                                <option [value]="2">None</option>
                            </select>
                        </div>
                    </form>

                    
                </div>
            </div>

            <div class="row" *ngIf="fittingForm">
                <div class="col-6">
                    <label for="page-fitting">Image Scaling</label>&nbsp;<i class="fa {{getFittingIcon()}}" aria-hidden="true"></i>
                </div>
                <div class="col-6">
                    <form [formGroup]="fittingForm">
                        <select class="form-control" id="page-fitting" formControlName="fittingOption">
                            <option value="full-height">Height</option>
                            <option value="full-width">Width</option>
                            <option value="original">Original</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row mt-2">
                <button type="button" class="btn btn-secondary col mr-2" (click)="resetSettings()">Reset</button>
                <button type="submit" class="btn btn-primary col align-self-end" (click)="saveSettings()">Save</button>
            </div>
        </div>
    </div>
    
</div>