<div class="reader">
    <div class="fixed-top overlay" *ngIf="menuOpen" [@slideFromTop]="menuOpen">
        <div style="display: flex">
            <button class="btn btn-icon" style="height: 100%" title="Back" (click)="closeReader()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span class="sr-only">Back</span>
            </button>
            
            <div *ngIf="chapterInfo">
                <div style="font-weight: bold;">{{title}}</div>
                <div class="subtitle">
                    {{subtitle}}
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="isLoading">
        <div class="spinner-border text-secondary loading" role="status">
            <span class="invisible">Loading...</span>
        </div>
    </ng-container>

    <div (click)="toggleMenu()" class="reading-area">
        <canvas #content class="{{getFittingOptionClass()}} {{this.colorMode}} {{readerMode === READER_MODE.MANGA_LR || readerMode === READER_MODE.MANGA_UD ? '' : 'd-none'}}" 
                ondragstart="return false;" onselectstart="return false;">
        </canvas>
        <div class="webtoon-images" *ngIf="readerMode === READER_MODE.WEBTOON">
            <!-- The infiniteScroll will handle virtual dom 
                <div
                infiniteScroll
                [infiniteScrollDistance]="10"
                [infiniteScrollUpDistance]="10"
                [infiniteScrollThrottle]="50"
                [alwaysCallback]="true"
                (scrolled)="scrollDown()"
                (scrolledUp)="scrollUp()">
                <ng-container *ngFor="let item of webtoonImages | async; let index = index;">
                    <h2>Page {{item.page}} - Prefetched {{minPrefetchedWebtoonImage}}-{{maxPrefetchedWebtoonImage}}. Current Page: {{pageNum}}</h2>
                    <img src="{{item.src}}" rel="nofollow" alt="image" id="page-{{item.page}}" [attr.page]="item.page" ondragstart="return false;" onselectstart="return false;">
                </ng-container>
            </div> -->

            <ng-container *ngFor="let item of webtoonImages | async; let index = index;">
                <h2>Page {{item.page}} - Prefetched {{minPrefetchedWebtoonImage}}-{{maxPrefetchedWebtoonImage}}. Current Page: {{pageNum}}</h2>
                <img src="{{item.src}}" [width]="webtoonImageWidth" (load)="onImageLoad($event, item.page)" rel="nofollow" alt="image" id="page-{{item.page}}" [attr.page]="item.page" ondragstart="return false;" onselectstart="return false;">
            </ng-container>

            <!-- Can I use the lazy loader here? -->

        </div>
        <ng-container *ngIf="readerMode === READER_MODE.MANGA_LR || readerMode === READER_MODE.MANGA_UD"> <!--; else webtoonClickArea;-->
            <div class="{{readerMode === READER_MODE.MANGA_LR ? 'right' : 'top'}}" (click)="handlePageChange($event, 'right')"></div>
            <div class="{{readerMode === READER_MODE.MANGA_LR ? 'left' : 'bottom'}}" (click)="handlePageChange($event, 'left')"></div>
        </ng-container>
        <ng-template #webtoonClickArea>
            <div class="top" (click)="handlePageChange($event, 'right')"></div>
            <div class="right" (click)="handlePageChange($event, 'right')"></div>
            <div class="left" (click)="handlePageChange($event, 'left')"></div>
            <div class="bottom" (click)="handlePageChange($event, 'left')"></div>
        </ng-template>
    </div>
    
    <div class="fixed-bottom overlay" *ngIf="menuOpen" [@slideFromBottom]="menuOpen">
        <div class="form-group" *ngIf="pageOptions != undefined && pageOptions.ceil != undefined && pageOptions.ceil > 0">
            <span class="sr-only" id="slider-info"></span>
            <div class="row no-gutters">
                <button class="btn btn-small btn-icon col-1" [disabled]="prevChapterDisabled" (click)="loadChapter(this.prevChapterId, 'prev');resetMenuCloseTimer();" title="Prev Chapter/Volume"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
                <button class="btn btn-small btn-icon col-1" [disabled]="prevPageDisabled" (click)="goToPage(0);resetMenuCloseTimer();" title="First Page"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                <div class="col custom-slider">
                    <ngx-slider [options]="pageOptions" [value]="pageNum" aria-describedby="slider-info" (userChangeEnd)="sliderPageUpdate($event);startMenuCloseTimer()" (userChangeStart)="cancelMenuCloseTimer();"></ngx-slider>
                </div>
                <button class="btn btn-small btn-icon col-2" [disabled]="nextPageDisabled" (click)="goToPage(this.maxPages);resetMenuCloseTimer();" title="Last Page"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                <button class="btn btn-small btn-icon col-1" [disabled]="nextChapterDisabled" (click)="loadChapter(this.nextChapterId, 'next');resetMenuCloseTimer();" title="Next Chapter/Volume"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
            </div>
            
            
        </div>
        <div class="row pt-4 ml-2 mr-2">
            <div class="col">
                <button class="btn btn-icon" (click)="setReadingDirection();resetMenuCloseTimer();" aria-describedby="reading-direction" title="Reading Direction: {{readingDirection === ReadingDirection.LeftToRight ? 'Left to Right' : 'Right to Left'}}">
                    <i class="fa fa-angle-double-{{readingDirection === ReadingDirection.LeftToRight ? 'right' : 'left'}}" aria-hidden="true"></i>
                    <span id="reading-direction" class="sr-only">{{readingDirection === ReadingDirection.LeftToRight ? 'Left to Right' : 'Right to Left'}}</span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-icon" title="Reading Mode" (click)="toggleReaderMode();resetMenuCloseTimer();">
                    <i class="fa {{readerModeIcon}}" aria-hidden="true"></i>
                    <span class="sr-only">Reading Mode</span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-icon {{this.colorMode}}" title="Color Options: {{colorOptionName}}" (click)="toggleColorMode();resetMenuCloseTimer();">
                    <i class="fa fa-palette" aria-hidden="true"></i>
                    <span class="sr-only"></span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-icon" title="Settings" (click)="settingsOpen = !settingsOpen;resetMenuCloseTimer();">
                    <i class="fa fa-sliders-h" aria-hidden="true"></i>
                    <span class="sr-only">Settings</span>
                </button>
            </div>
        </div>
        <div class="bottom-menu" *ngIf="settingsOpen">
            <div class="row" *ngIf="generalSettingsForm">
                <div class="col-6">
                    <label for="page-splitting">Image Splitting</label>&nbsp;
                    <div class="split fa fa-image">
                        <div class="{{splitIconClass}}"></div> 
                    </div>
                </div>
                <div class="col-6">
                    <form [formGroup]="generalSettingsForm">
                        <div class="form-group">
                            <select class="form-control" id="page-splitting" formControlName="pageSplitOption">
                                <option [value]="1">Right to Left</option>
                                <option [value]="0">Left to Right</option>
                                <option [value]="2">None</option>
                            </select>
                        </div>
                    </form>

                    
                </div>
            </div>

            <div class="row" *ngIf="generalSettingsForm">
                <div class="col-6">
                    <label for="page-fitting">Image Scaling</label>&nbsp;<i class="fa {{getFittingIcon()}}" aria-hidden="true"></i>
                </div>
                <div class="col-6">
                    <form [formGroup]="generalSettingsForm">
                        <select class="form-control" id="page-fitting" formControlName="fittingOption">
                            <option value="full-height">Height</option>
                            <option value="full-width">Width</option>
                            <option value="original">Original</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row mt-2 mb-2" *ngIf="generalSettingsForm">
                <div class="col-6">
                    <label for="autoCloseMenu" class="form-check-label">Auto Close Menu</label>
                </div>
                <div class="col-6">
                    <form [formGroup]="generalSettingsForm">
                        <div class="form-check">
                            <input id="autoCloseMenu" type="checkbox" aria-label="Admin" class="form-check-input" formControlName="autoCloseMenu">
                        </div>
                    </form>
                </div>
            </div>
<!-- NOTE: For now, let's not allow saving. We don't offer Automatic scaling in this view since we translate it for the user. Not sure how to handle yet.
            <div class="row mt-2">
                <button type="button" class="btn btn-secondary col mr-2" (click)="resetSettings()">Reset</button>
                <button type="submit" class="btn btn-primary col align-self-end" (click)="saveSettings()">Save</button>
            </div> -->
        </div>
    </div>
    
</div>