//@import url(../../assets/themes/plex/_variables.scss);
$primary-color: #0062cc;

.card {
    height: 400;
    width: 200;
}


.viewport {
    width: 600px;
    height: 100%;
    overflow-y: auto;
}

.filter-bar {
    padding-left: 20px; // double because we are a nested row
    padding-right: 15px;
    border-bottom: 1px solid lightgrey;
}

.icon--active {
    color: $primary-color;
}